<!DOCTYPE html>
<html>
<head lang="en" data-framework="angularjs">
    <meta charset="utf-8">
    <title>Banner editor</title>
    <link rel="stylesheet" href="web/css/main.css"/>
    <!--<script src="bower_components/angular/angular.min.js"></script>-->
    <!--<script src="web/js/main.js"></script>-->
</head>
<body ng-controller="bannerCtrl">
<div class="banner" ng-click="selectedChild($event)">
</div>
<div class="configs">
    <div class="configs__itemMenu" ng-show="selected">
        <div class="singleLine">
            <div class="singleLine__Half">
                <label>
                    width:
                </label>
                <input ng-model="selectedElementOptions.width"/>
            </div>
            <div class="singleLine__Half">
                <label>
                    height:
                </label>
                <input ng-model="selectedElementOptions.height"/>
            </div>
        </div>
        <div class="singleLine">
            <div class="singleLine__Half">
                <label>
                    x:
                </label>
                <input ng-model="selectedElementOptions.newX"/>
            </div>
            <div class="singleLine__Half">
                <label>
                    y:
                </label>
                <input ng-model="selectedElementOptions.newY"/>
            </div>
        </div>
        <div class="singleLine">
            <div class="singleLine__Half">
                <label>
                    background:
                </label>
                <input type="color" ng-model="selectedElementOptions.color"/>
            </div>
        </div>
    </div>
    <div class="configs__panel">
        <button id="addBanner" bn-box-creator count="{{count}}" selected="{{selected}}">
            Add Banner
        </button>
        <button ng-show="selected" ng-click="removeBanner()">
            Remove Banner
        </button>
    </div>
</div>
<script data-main="web/js/main" src="bower_components/requirejs/require.js"></script>
</body>
</html>