.bannerEditorBox {
    background-color: white;
    width: 300px;
    height: 150px;
    background-color: #fcff1b;
    position: absolute;
}

.draggable {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    cursor: pointer;
}

.n-resize {
    position: absolute;
    top: -3px;
    left: 0px;
    width: 100%;
    height: 5px;
    cursor: n-resize;
}

.e-resize {
    position: absolute;
    top: 0px;
    left: calc(100% - 2px);
    width: 5px;
    height: 100%;
    cursor: w-resize;
}

.s-resize {
    position: absolute;
    top: calc(100% - 2px);
    left: 0px;
    width: 100%;
    height: 5px;
    cursor: s-resize;
}

.w-resize {
    position: absolute;
    top: 0px;
    left: -3px;
    width: 5px;
    height: 100%;
    cursor: e-resize;
}

.nw-resize {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 7px;
    height: 7px;
    cursor: nw-resize;
}

.ne-resize {
    position: absolute;
    top: -3px;
    left: calc(100% - 4px);
    width: 7px;
    height: 7px;
    cursor: ne-resize;
}

.se-resize {
    position: absolute;
    top: calc(100% - 4px);
    left: calc(100% - 4px);
    width: 7px;
    height: 7px;
    cursor: se-resize;
}

.sw-resize {
    position: absolute;
    top: calc(100% - 4px);
    left: -3px;
    width: 7px;
    height: 7px;
    cursor: sw-resize;
}

.banner {
    max-width: 1280px;
    height: 80vh;
    margin: auto;
    border: 2px solid #000;
}

.configs {
    max-width: 1280px;
    border: 2px solid #000;
    border-top: 0px;
    height: 15vh;
    margin: auto;
}

.selected {
    border: 1px red solid;
}

.configs__itemMenu {
    width: calc(50% - 34px);
    float: left;
    display: inline-block;
    height: calc(100% - 30px);
    padding: 15px;
    border-right: 2px solid #000;
}

.configs__panel {
    padding: 15px;
    width: calc(50% - 34px);
    float: right;
    display: inline-block;
    height: calc(100% - 30px);
}

.configs__panel button {
    clear: both;
    display: block;
    margin: 5px auto;
    float: right;
}

.singleLine {
    display: inline-block;
    width: 100%;
}

.singleLine__Half {
    display: inline-block;
    width: 50%;
    float: left;
}

.singleLine label {
    display: inline-block;
    width: 70px;
    margin-right: 10px;
}